Repository linuxmint/cinnamon-spices-desklets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cobinja, @schorschii, @tipichris, @collinss, @mohammad-sn, @slgobinath, @fthuin, @JessW, @arielandrade, @swalladge, @rjanja

clock@schorschii: Update da.po
  clock@schorschii/files/clock@schorschii/po/da.po
Owners: none

deskNote@BrainAxe: Update da.po
  deskNote@BrainAxe/files/deskNote@BrainAxe/po/da.po
Owners: none

googleCalendar@javahelps.com: Update da.po
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/po/da.po
Owners: none

hostcheck@schorschii: Create da.po
  hostcheck@schorschii/files/hostcheck@schorschii/po/da.po
Owners: none

calculator@scollins new design
  calculator@scollins/files/calculator@scollins/buttons/0-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/1-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/2-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/3-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/4-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/5-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/6-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/7-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/8-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/9-symbolic.svg
  calculator@scollins/files/calculator@scollins/icon.png
  calculator@scollins/files/calculator@scollins/metadata.json
  calculator@scollins/files/calculator@scollins/stylesheet.css
  calculator@scollins/icon.png
  calculator@scollins/screenshot.png
Owners: @collinss

calculator@scollins new design
  calculator@scollins/files/calculator@scollins/buttons/0-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/1-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/2-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/3-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/4-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/5-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/6-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/7-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/8-symbolic.svg
  calculator@scollins/files/calculator@scollins/buttons/9-symbolic.svg
  calculator@scollins/files/calculator@scollins/icon.png
  calculator@scollins/files/calculator@scollins/metadata.json
  calculator@scollins/files/calculator@scollins/stylesheet.css
  calculator@scollins/icon.png
  calculator@scollins/screenshot.png
Owners: @collinss

calculator@scollins: change desklet author
  calculator@scollins/info.json
Owners: @collinss

calculator@scollins: optimizations
  calculator@scollins/README.md
  calculator@scollins/files/calculator@scollins/desklet.js
  calculator@scollins/files/calculator@scollins/metadata.json
  calculator@scollins/files/calculator@scollins/po/calculator@scollins.pot
  calculator@scollins/files/calculator@scollins/po/de.po
  calculator@scollins/files/calculator@scollins/settings-schema.json
  calculator@scollins/files/calculator@scollins/stylesheet.css
Owners: @collinss

calculator@scollins: fix back button
  calculator@scollins/files/calculator@scollins/desklet.js
Owners: none

calculator@scollins: new screenshot
  calculator@scollins/screenshot.png
Owners: @collinss

netusage@30yavash.comv 1.0.4.2 Update for 4.4 only
  netusage@30yavash.com/files/netusage@30yavash.com/metadata.json
Owners: none

simple-system-monitor@ariel v 1.0.0.2 Update for 4.4 only
  simple-system-monitor@ariel/files/simple-system-monitor@ariel/metadata.json
Owners: none

add template and german translation
  cpuload@kimse/files/cpuload@kimse/po/cpuload@kimse.pot
  cpuload@kimse/files/cpuload@kimse/po/de.po
Owners: none

optimizations for HiDPI screens
  cpuload@kimse/files/cpuload@kimse/desklet.js
Owners: none

add thin design and color options
  cpuload@kimse/files/cpuload@kimse/desklet.js
  cpuload@kimse/files/cpuload@kimse/metadata.json
  cpuload@kimse/files/cpuload@kimse/settings-schema.json
Owners: none

rename design: classic -> thick
  cpuload@kimse/files/cpuload@kimse/desklet.js
  cpuload@kimse/files/cpuload@kimse/po/cpuload@kimse.pot
  cpuload@kimse/files/cpuload@kimse/po/de.po
  cpuload@kimse/files/cpuload@kimse/settings-schema.json
Owners: none

Update metadata.json: Now compatible with Cinnamon 4.4
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/metadata.json
Owners: none

fix RAM calculation
  diskspace@schorschii/files/diskspace@schorschii/desklet.js
  diskspace@schorschii/files/diskspace@schorschii/metadata.json
Owners: none

analog-clock@cobinja.de: add sv.po
  analog-clock@cobinja.de/files/analog-clock@cobinja.de/po/sv.po
Owners: none

hostcheck@schorschii: add sv.po
  hostcheck@schorschii/files/hostcheck@schorschii/po/sv.po
Owners: none

Update diskspace@schorschii.pot
  hostcheck@schorschii/files/hostcheck@schorschii/po/diskspace@schorschii.pot
Owners: none

Update desklet.js
  hostcheck@schorschii/files/hostcheck@schorschii/desklet.js
Owners: none

analog-clock@cobinja.de: add sv.po (#482)
  analog-clock@cobinja.de/files/analog-clock@cobinja.de/po/sv.po
Owners: none

calendar@deeppradhan: add sv.po
  calendar@deeppradhan/files/calendar@deeppradhan/po/sv.po
Owners: none

battery@schorschii: add sv.po
  battery@schorschii/files/battery@schorschii/po/sv.po
Owners: none

reddit-reader@orangeshark: add sv.po
  reddit-reader@orangeshark/files/reddit-reader@orangeshark/po/sv.po
Owners: none

diskspace@schorschii: Update sv.po
  diskspace@schorschii/files/diskspace@schorschii/po/sv.po
Owners: none

calculator@scollins: Update sv.po
  calculator@scollins/files/calculator@scollins/po/sv.po
Owners: none

netusage@30yavash.com: add sv.po
  netusage@30yavash.com/files/netusage@30yavash.com/po/sv.po
Owners: none

Update netusage@30yavash.com.pot
  netusage@30yavash.com/files/netusage@30yavash.com/po/netusage@30yavash.com.pot
Owners: none

googleCalendar@javahelps.com: add sv.po
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/po/sv.po
Owners: none

Add fr.po translation to notes@schorschii desklet
  notes@schorschii/files/notes@schorschii/po/fr.po
Owners: none

Fix fr.po double entry
  notes@schorschii/files/notes@schorschii/po/fr.po
Owners: none

Metadata for fr.po, notes desklet
  notes@schorschii/files/notes@schorschii/po/fr.po
Owners: none

Add fr.po translation for calculator@scollins desklet
  calculator@scollins/files/calculator@scollins/po/fr.po
Owners: none

Add link to how to setup guide
  googleCalendar@javahelps.com/README.md
Owners: @slgobinath

commandResult@ZimiZones; New desklet added. Diplaying command result.
  commandResult@ZimiZones/files/commandResult@ZimiZones/4.0/desklet.js
  commandResult@ZimiZones/files/commandResult@ZimiZones/4.0/icon.png
  commandResult@ZimiZones/files/commandResult@ZimiZones/4.0/metadata.json
  commandResult@ZimiZones/files/commandResult@ZimiZones/4.0/settings-schema.json
  commandResult@ZimiZones/files/commandResult@ZimiZones/4.0/stylesheet.css
  commandResult@ZimiZones/files/commandResult@ZimiZones/desklet.js
  commandResult@ZimiZones/files/commandResult@ZimiZones/icon.png
  commandResult@ZimiZones/files/commandResult@ZimiZones/metadata.json
  commandResult@ZimiZones/files/commandResult@ZimiZones/settings-schema.json
  commandResult@ZimiZones/files/commandResult@ZimiZones/stylesheet.css
  commandResult@ZimiZones/icon.png
  commandResult@ZimiZones/info.json
  commandResult@ZimiZones/screenshot.png
Owners: none

commandResult@ZimiZones: New desklet added. Displaying command result.
  commandResult@ZimiZones/files/commandResult@ZimiZones/4.0/desklet.js
  commandResult@ZimiZones/files/commandResult@ZimiZones/4.0/icon.png
  commandResult@ZimiZones/files/commandResult@ZimiZones/4.0/metadata.json
  commandResult@ZimiZones/files/commandResult@ZimiZones/4.0/settings-schema.json
  commandResult@ZimiZones/files/commandResult@ZimiZones/4.0/stylesheet.css
  commandResult@ZimiZones/files/commandResult@ZimiZones/desklet.js
  commandResult@ZimiZones/files/commandResult@ZimiZones/icon.png
  commandResult@ZimiZones/files/commandResult@ZimiZones/metadata.json
  commandResult@ZimiZones/files/commandResult@ZimiZones/settings-schema.json
  commandResult@ZimiZones/files/commandResult@ZimiZones/stylesheet.css
  commandResult@ZimiZones/icon.png
  commandResult@ZimiZones/info.json
  commandResult@ZimiZones/screenshot.png
Owners: none

diskspace@schorschii: use decodeURIComponent() to support paths with spaces
  diskspace@schorschii/files/diskspace@schorschii/desklet.js
  diskspace@schorschii/files/diskspace@schorschii/metadata.json
Owners: none

diskspace@schorschii: add option to open file manager on click
  diskspace@schorschii/files/diskspace@schorschii/desklet.js
  diskspace@schorschii/files/diskspace@schorschii/metadata.json
  diskspace@schorschii/files/diskspace@schorschii/po/de.po
  diskspace@schorschii/files/diskspace@schorschii/po/diskspace@schorschii.pot
  diskspace@schorschii/files/diskspace@schorschii/settings-schema.json
Owners: none

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

analog-clock@cobinja.de/*                          @cobinja
battery@schorschii/*                               @schorschii
bbcwx@oak-wood.co.uk/*                             @tipichris
calculator@scollins/*                              @collinss
calendar@schorschii/*                              @schorschii
clock@schorschii/*                                 @schorschii
devTools@scollins/*                                @collinss
ganjine@mohammad-sn/*                              @mohammad-sn
googleCalendar@javahelps.com/*                     @slgobinath
lemondenewspaper@fthuin/*                          @fthuin
quoteOfTheDay@tinnu/*                              @JessW
simple-system-monitor@ariel/*                      @arielandrade
soundBox@scollins/*                                @collinss
stocks@fthuin/*                                    @fthuin
temperature@swalladge/*                            @swalladge
xkcd@rjanja/*                                      @rjanja

# The following xlets have no author assigned to them.
# TimeAndDate@nightflame
# WeatherUnderground@nightflame
# binaryclock2@euxneks
# binaryclockdesklet@entelechy
# citationsfr@mrvaykadji
# clockTow@armandobs14
# commandOfTheDay@logg
# jalalidesklet@30yavash.com
# netusage@30yavash.com
# powerUsage@hosvir.com
# reddit-reader@orangeshark
# shutdown@phpdreamer
