Repository linuxmint/cinnamon-spices-desklets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cobinja, @schorschii, @tipichris, @collinss, @mohammad-sn, @slgobinath, @fthuin, @JessW, @arielandrade, @swalladge, @rjanja

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

analog-clock@cobinja.de/*                          @cobinja
battery@schorschii/*                               @schorschii
bbcwx@oak-wood.co.uk/*                             @tipichris
calculator@scollins/*                              @collinss
calendar@schorschii/*                              @schorschii
clock@schorschii/*                                 @schorschii
devTools@scollins/*                                @collinss
ganjine@mohammad-sn/*                              @mohammad-sn
googleCalendar@javahelps.com/*                     @slgobinath
lemondenewspaper@fthuin/*                          @fthuin
quoteOfTheDay@tinnu/*                              @JessW
simple-system-monitor@ariel/*                      @arielandrade
soundBox@scollins/*                                @collinss
stocks@fthuin/*                                    @fthuin
temperature@swalladge/*                            @swalladge
xkcd@rjanja/*                                      @rjanja

# The following xlets have no author assigned to them.
# TimeAndDate@nightflame
# WeatherUnderground@nightflame
# binaryclock2@euxneks
# binaryclockdesklet@entelechy
# citationsfr@mrvaykadji
# clockTow@armandobs14
# commandOfTheDay@logg
# jalalidesklet@30yavash.com
# netusage@30yavash.com
# powerUsage@hosvir.com
# reddit-reader@orangeshark
# shutdown@phpdreamer

Update settings-schema.json
  eKreta@thegergo02/files/eKreta@thegergo02/settings-schema.json
Owners: none

Update desklet.js
  eKreta@thegergo02/files/eKreta@thegergo02/desklet.js
Owners: none

Update settings-schema.json
  eKreta@thegergo02/files/eKreta@thegergo02/settings-schema.json
Owners: none

Update desklet.js
  eKreta@thegergo02/files/eKreta@thegergo02/desklet.js
Owners: none

Update settings-schema.json
  eKreta@thegergo02/files/eKreta@thegergo02/settings-schema.json
Owners: none

Update desklet.js
  eKreta@thegergo02/files/eKreta@thegergo02/desklet.js
Owners: none

Update desklet.js
  eKreta@thegergo02/files/eKreta@thegergo02/desklet.js
Owners: none

Update README.md
  eKreta@thegergo02/README.md
Owners: none

Create README_hu.md
  eKreta@thegergo02/README_hu.md
Owners: none

Update README.md
  eKreta@thegergo02/README.md
Owners: none

Update README_hu.md
  eKreta@thegergo02/README_hu.md
Owners: none

netusage@30yavash.com v1.0.4.2 Make command line calls async
  netusage@30yavash.com/files/netusage@30yavash.com/3.6/desklet.js
  netusage@30yavash.com/files/netusage@30yavash.com/3.6/icon.png
  netusage@30yavash.com/files/netusage@30yavash.com/3.6/settings-schema.json
  netusage@30yavash.com/files/netusage@30yavash.com/4.0/desklet.js
Owners: none

netusage@30yavash.com v1.0.4 Extend choice of display formats (#366)
  netusage@30yavash.com/CHANGELOG.md
  netusage@30yavash.com/README.md
  netusage@30yavash.com/files/netusage@30yavash.com/3.6/desklet.js
  netusage@30yavash.com/files/netusage@30yavash.com/3.6/icon.png
  netusage@30yavash.com/files/netusage@30yavash.com/3.6/settings-schema.json
  netusage@30yavash.com/files/netusage@30yavash.com/4.0/desklet.js
  netusage@30yavash.com/files/netusage@30yavash.com/metadata.json
  netusage@30yavash.com/files/netusage@30yavash.com/settings-schema.json
Owners: none

Add link to Google Calendar into context menu
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/desklet.js
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/icons/google-calendar-symbolic.svg
Owners: none

.pot and fr.po updated. Icons updated. Fixes camelCase and dbl quote warning
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/desklet.js
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/icons/google-calendar-symbolic.svg
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/icons/google-calendar.svg
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/po/fr.po
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/po/googleCalendar.pot
Owners: none

googleCalendar@javahelps.com - Add link to Google Calendar into context menu (#375)
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/desklet.js
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/icons/google-calendar-symbolic.svg
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/icons/google-calendar.svg
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/po/fr.po
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/po/googleCalendar.pot
Owners: none

eKreta@thegergo02: Display your grades from the eKreta API (#374)
  eKreta@thegergo02/LICENSE.md
  eKreta@thegergo02/README.md
  eKreta@thegergo02/README_hu.md
  eKreta@thegergo02/files/eKreta@thegergo02/desklet.js
  eKreta@thegergo02/files/eKreta@thegergo02/metadata.json
  eKreta@thegergo02/files/eKreta@thegergo02/settings-schema.json
  eKreta@thegergo02/files/eKreta@thegergo02/stylesheet.css
  eKreta@thegergo02/icon.png
  eKreta@thegergo02/icon.xcf
  eKreta@thegergo02/info.json
  eKreta@thegergo02/screenshot.png
Owners: none

Fix #367
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/py/google_calendar.py
Owners: none

googleCalendar@javahelps.com: Fix #367 (#376)
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/py/google_calendar.py
Owners: none

WeatherUnderground@nightflame: Remove broken unmaintained desklet
  WeatherUnderground@nightflame/README.md
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/HELP.md
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/README.old
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/desklet.js
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/icon.png
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/metadata.json
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/po/WeatherUnderground@nightflame.pot
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/po/da.po
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/po/de.po
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/po/hr.po
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/po/zh_CN.po
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/settings-schema.json
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/stylesheet.css
  WeatherUnderground@nightflame/icon.png
  WeatherUnderground@nightflame/info.json
  WeatherUnderground@nightflame/screenshot.png
Owners: none

WeatherUnderground@nightflame: Remove broken unmaintained desklet (#377)
  WeatherUnderground@nightflame/README.md
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/HELP.md
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/README.old
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/desklet.js
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/icon.png
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/metadata.json
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/po/WeatherUnderground@nightflame.pot
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/po/da.po
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/po/de.po
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/po/hr.po
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/po/zh_CN.po
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/settings-schema.json
  WeatherUnderground@nightflame/files/WeatherUnderground@nightflame/stylesheet.css
  WeatherUnderground@nightflame/icon.png
  WeatherUnderground@nightflame/info.json
  WeatherUnderground@nightflame/screenshot.png
Owners: none

Change to v0.2.5-alpha
  eKreta@thegergo02/.gitignore
  eKreta@thegergo02/README.md
  eKreta@thegergo02/README_hu.md
  eKreta@thegergo02/files/eKreta@thegergo02/desklet.js
  eKreta@thegergo02/files/eKreta@thegergo02/metadata.json
  eKreta@thegergo02/files/eKreta@thegergo02/settings-schema.json
  eKreta@thegergo02/files/eKreta@thegergo02/stylesheet.css
  eKreta@thegergo02/screenshot.png
  eKreta@thegergo02/screenshot_ab.png
  eKreta@thegergo02/screenshot_av.png
  eKreta@thegergo02/screenshot_gra.png
  eKreta@thegergo02/screenshot_tt.png
Owners: none

Added 2 new transparent themes
  clock@schorschii/files/clock@schorschii/img/transparent1/bg.svg
  clock@schorschii/files/clock@schorschii/img/transparent1/h.svg
  clock@schorschii/files/clock@schorschii/img/transparent1/m.svg
  clock@schorschii/files/clock@schorschii/img/transparent1/s.svg
  clock@schorschii/files/clock@schorschii/img/transparent2/bg.svg
  clock@schorschii/files/clock@schorschii/img/transparent2/h.svg
  clock@schorschii/files/clock@schorschii/img/transparent2/m.svg
  clock@schorschii/files/clock@schorschii/img/transparent2/s.svg
  clock@schorschii/files/clock@schorschii/settings-schema.json
Owners: none

Adding two transparent themes
  clock@schorschii/files/clock@schorschii/img/transparent1/bg.svg
  clock@schorschii/files/clock@schorschii/img/transparent1/h.svg
  clock@schorschii/files/clock@schorschii/img/transparent1/m.svg
  clock@schorschii/files/clock@schorschii/img/transparent1/s.svg
  clock@schorschii/files/clock@schorschii/img/transparent2/bg.svg
  clock@schorschii/files/clock@schorschii/img/transparent2/h.svg
  clock@schorschii/files/clock@schorschii/img/transparent2/m.svg
  clock@schorschii/files/clock@schorschii/img/transparent2/s.svg
  clock@schorschii/files/clock@schorschii/settings-schema.json
Owners: none

Add support for HiDPI screens, fix wrong date parsing bug
  cryptocoins@pbojan/files/cryptocoins@pbojan/desklet.js
  cryptocoins@pbojan/files/cryptocoins@pbojan/stylesheet.css
Owners: none

cryptocoins@pbojan: Add support for HiDPI screens, fix wrong date parsing bug (#381)
  cryptocoins@pbojan/files/cryptocoins@pbojan/desklet.js
  cryptocoins@pbojan/files/cryptocoins@pbojan/stylesheet.css
Owners: none

battery@schorschii: HiDPI support
  battery@schorschii/files/battery@schorschii/desklet.js
  battery@schorschii/files/battery@schorschii/metadata.json
Owners: none

calendar@schorschii: HiDPI support
  calendar@schorschii/files/calendar@schorschii/desklet.js
  calendar@schorschii/files/calendar@schorschii/metadata.json
Owners: none

clock@schorschii: added new themes from claudiux with small adjustments
  clock@schorschii/README.md
  clock@schorschii/files/clock@schorschii/desklet.js
  clock@schorschii/files/clock@schorschii/img/dark_transparent/bg.svg
  clock@schorschii/files/clock@schorschii/img/dark_transparent/h.svg
  clock@schorschii/files/clock@schorschii/img/dark_transparent/m.svg
  clock@schorschii/files/clock@schorschii/img/dark_transparent/s.svg
  clock@schorschii/files/clock@schorschii/img/light_transparent/bg.svg
  clock@schorschii/files/clock@schorschii/img/light_transparent/h.svg
  clock@schorschii/files/clock@schorschii/img/light_transparent/m.svg
  clock@schorschii/files/clock@schorschii/img/light_transparent/s.svg
  clock@schorschii/files/clock@schorschii/metadata.json
  clock@schorschii/files/clock@schorschii/po/clock@schorschii.pot
  clock@schorschii/files/clock@schorschii/po/de.po
  clock@schorschii/files/clock@schorschii/settings-schema.json
Owners: @schorschii

updated clock, battery, calendar@schorschii (#382)
  battery@schorschii/files/battery@schorschii/desklet.js
  battery@schorschii/files/battery@schorschii/metadata.json
  calendar@schorschii/files/calendar@schorschii/desklet.js
  calendar@schorschii/files/calendar@schorschii/metadata.json
  clock@schorschii/README.md
  clock@schorschii/files/clock@schorschii/desklet.js
  clock@schorschii/files/clock@schorschii/img/dark_transparent/bg.svg
  clock@schorschii/files/clock@schorschii/img/dark_transparent/h.svg
  clock@schorschii/files/clock@schorschii/img/dark_transparent/m.svg
  clock@schorschii/files/clock@schorschii/img/dark_transparent/s.svg
  clock@schorschii/files/clock@schorschii/img/light_transparent/bg.svg
  clock@schorschii/files/clock@schorschii/img/light_transparent/h.svg
  clock@schorschii/files/clock@schorschii/img/light_transparent/m.svg
  clock@schorschii/files/clock@schorschii/img/light_transparent/s.svg
  clock@schorschii/files/clock@schorschii/metadata.json
  clock@schorschii/files/clock@schorschii/po/clock@schorschii.pot
  clock@schorschii/files/clock@schorschii/po/de.po
  clock@schorschii/files/clock@schorschii/settings-schema.json
Owners: @schorschii

diskspace@schorschii: fixed missing let variable declaration
  diskspace@schorschii/files/diskspace@schorschii/desklet.js
  diskspace@schorschii/files/diskspace@schorschii/metadata.json
Owners: none

diskspace@schorschii: fixed missing let variable declaration (#383)
  diskspace@schorschii/files/diskspace@schorschii/desklet.js
  diskspace@schorschii/files/diskspace@schorschii/metadata.json
Owners: none

Add missing dependencies
  googleCalendar@javahelps.com/README.md
Owners: @slgobinath

Add missing dependencies (#385)
  googleCalendar@javahelps.com/README.md
Owners: @slgobinath

Change version to 0.3.0v
  eKreta@thegergo02/.gitignore
  eKreta@thegergo02/README.md
  eKreta@thegergo02/README_hu.md
  eKreta@thegergo02/files/eKreta@thegergo02/desklet.js
  eKreta@thegergo02/files/eKreta@thegergo02/metadata.json
  eKreta@thegergo02/files/eKreta@thegergo02/settings-schema.json
  eKreta@thegergo02/files/eKreta@thegergo02/stylesheet.css
  eKreta@thegergo02/screenshot.png
  eKreta@thegergo02/screenshot_ab.png
  eKreta@thegergo02/screenshot_av.png
  eKreta@thegergo02/screenshot_gra.png
  eKreta@thegergo02/screenshot_tt.png
Owners: none

googleCalendar@javahelps.com: localize time (python 3.5)
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/py/google_calendar.py
Owners: none

googleCalendar@javahelps.com: localize time (python 3.5) (#388)
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/py/google_calendar.py
Owners: none

eKreta@thegergo02: Change version to 0.3.0v (#386)
  eKreta@thegergo02/.gitignore
  eKreta@thegergo02/README.md
  eKreta@thegergo02/README_hu.md
  eKreta@thegergo02/files/eKreta@thegergo02/desklet.js
  eKreta@thegergo02/files/eKreta@thegergo02/metadata.json
  eKreta@thegergo02/files/eKreta@thegergo02/settings-schema.json
  eKreta@thegergo02/files/eKreta@thegergo02/stylesheet.css
  eKreta@thegergo02/screenshot.png
  eKreta@thegergo02/screenshot_ab.png
  eKreta@thegergo02/screenshot_av.png
  eKreta@thegergo02/screenshot_gra.png
  eKreta@thegergo02/screenshot_tt.png
Owners: none

soundBox@scollins: Remove usage of appsys.get_tree_entry()
  soundBox@scollins/files/soundBox@scollins/soundbox.js
Owners: none

Move calendar.dat to config folder
  googleCalendar@javahelps.com/README.md
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/desklet.js
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/py/google_calendar.py
Owners: @slgobinath
