Repository linuxmint/cinnamon-spices-desklets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cobinja, @schorschii, @tipichris, @collinss, @mohammad-sn, @slgobinath, @fthuin, @JessW, @arielandrade, @swalladge, @rjanja

Fix #296, handle gcalcli config error and support Cinnamon 3.8
  googleCalendar@javahelps.com/README.md
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/desklet.js
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/lib/utility.js
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/metadata.json
Owners: @slgobinath

Fix #296, handle gcalcli config error and support Cinnamon 3.8 (#297)
  googleCalendar@javahelps.com/README.md
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/desklet.js
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/lib/utility.js
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/metadata.json
Owners: @slgobinath

fix wrong value type on creation of change icon ("value "nan" of type 'gfloat' is invalid" errors), undo ESR6 method definitions to make it compatible again with jsmoz-24
  yfquotes@thegli/files/yfquotes@thegli/desklet.js
Owners: none

update release notes, bump version to 0.1.0
  yfquotes@thegli/README.md
  yfquotes@thegli/files/yfquotes@thegli/metadata.json
Owners: none

add dependency to currency code settings
  yfquotes@thegli/files/yfquotes@thegli/settings-schema.json
Owners: none

yfquotes@thegli: new/old desklet for stock quotes information (#300)
  yfquotes@thegli/README.md
  yfquotes@thegli/files/yfquotes@thegli/desklet.js
  yfquotes@thegli/files/yfquotes@thegli/icon.png
  yfquotes@thegli/files/yfquotes@thegli/icons/down.svg
  yfquotes@thegli/files/yfquotes@thegli/icons/eq.svg
  yfquotes@thegli/files/yfquotes@thegli/icons/up.svg
  yfquotes@thegli/files/yfquotes@thegli/metadata.json
  yfquotes@thegli/files/yfquotes@thegli/settings-schema.json
  yfquotes@thegli/files/yfquotes@thegli/stylesheet.css
  yfquotes@thegli/icon.png
  yfquotes@thegli/info.json
  yfquotes@thegli/screenshot.png
Owners: none

Add files via upload
  nepalipatro@deeppradhan/README.md
  nepalipatro@deeppradhan/files/nepalipatro@deeppradhan/desklet.js
  nepalipatro@deeppradhan/files/nepalipatro@deeppradhan/icon.png
  nepalipatro@deeppradhan/files/nepalipatro@deeppradhan/metadata.json
  nepalipatro@deeppradhan/files/nepalipatro@deeppradhan/nepalipatro.js
  nepalipatro@deeppradhan/files/nepalipatro@deeppradhan/po/nepalipatro@deeppradhan.pot
  nepalipatro@deeppradhan/files/nepalipatro@deeppradhan/settings-schema.json
  nepalipatro@deeppradhan/icon.png
  nepalipatro@deeppradhan/info.json
  nepalipatro@deeppradhan/screenshot.png
Owners: none

Create .editorconfig
  nepalipatro@deeppradhan/.editorconfig
Owners: none

stocks@fthuin: remove desklet
  stocks@fthuin/files/stocks@fthuin/desklet.js
  stocks@fthuin/files/stocks@fthuin/icons/down.svg
  stocks@fthuin/files/stocks@fthuin/icons/eq.svg
  stocks@fthuin/files/stocks@fthuin/icons/up.svg
  stocks@fthuin/files/stocks@fthuin/metadata.json
  stocks@fthuin/files/stocks@fthuin/po/da.po
  stocks@fthuin/files/stocks@fthuin/po/de.po
  stocks@fthuin/files/stocks@fthuin/po/hr.po
  stocks@fthuin/files/stocks@fthuin/po/stocks@fthuin.pot
  stocks@fthuin/files/stocks@fthuin/po/zh_CN.po
  stocks@fthuin/files/stocks@fthuin/settings-schema.json
  stocks@fthuin/files/stocks@fthuin/stocks.list
  stocks@fthuin/files/stocks@fthuin/stylesheet.css
  stocks@fthuin/icon.png
  stocks@fthuin/info.json
  stocks@fthuin/screenshot.png
Owners: @fthuin

netusage@30yavash.com fix issue 279
  netusage@30yavash.com/README.md
  netusage@30yavash.com/files/netusage@30yavash.com/desklet.js
Owners: none

netusage@30yavash.com fix issue 279 (#304)
  netusage@30yavash.com/README.md
  netusage@30yavash.com/files/netusage@30yavash.com/desklet.js
Owners: none

Initial Commit: Nepali Patro Desklet (#302)
  nepalipatro@deeppradhan/.editorconfig
  nepalipatro@deeppradhan/README.md
  nepalipatro@deeppradhan/files/nepalipatro@deeppradhan/desklet.js
  nepalipatro@deeppradhan/files/nepalipatro@deeppradhan/icon.png
  nepalipatro@deeppradhan/files/nepalipatro@deeppradhan/metadata.json
  nepalipatro@deeppradhan/files/nepalipatro@deeppradhan/nepalipatro.js
  nepalipatro@deeppradhan/files/nepalipatro@deeppradhan/po/nepalipatro@deeppradhan.pot
  nepalipatro@deeppradhan/files/nepalipatro@deeppradhan/settings-schema.json
  nepalipatro@deeppradhan/icon.png
  nepalipatro@deeppradhan/info.json
  nepalipatro@deeppradhan/screenshot.png
Owners: none

Added fix for clock ignoring timezone changes.
  analog-clock@cobinja.de/files/analog-clock@cobinja.de/3.0/desklet.js
Owners: none

analog-clock@cobinja.de Fix file handling for newer GLib/GdkPixbuf versions
  analog-clock@cobinja.de/files/analog-clock@cobinja.de/3.0/desklet.js
Owners: none

analog-clock@cobinja.de Fix clock update after changing the timezone
  analog-clock@cobinja.de/files/analog-clock@cobinja.de/2.8/desklet.js
  analog-clock@cobinja.de/files/analog-clock@cobinja.de/3.0/desklet.js
Owners: none

analog-clock@cobinja.de 2 bugfixes (#306)
  analog-clock@cobinja.de/files/analog-clock@cobinja.de/2.8/desklet.js
  analog-clock@cobinja.de/files/analog-clock@cobinja.de/3.0/desklet.js
Owners: none

stocks@fthuin: remove desklet (#303)
  stocks@fthuin/files/stocks@fthuin/desklet.js
  stocks@fthuin/files/stocks@fthuin/icons/down.svg
  stocks@fthuin/files/stocks@fthuin/icons/eq.svg
  stocks@fthuin/files/stocks@fthuin/icons/up.svg
  stocks@fthuin/files/stocks@fthuin/metadata.json
  stocks@fthuin/files/stocks@fthuin/po/da.po
  stocks@fthuin/files/stocks@fthuin/po/de.po
  stocks@fthuin/files/stocks@fthuin/po/hr.po
  stocks@fthuin/files/stocks@fthuin/po/stocks@fthuin.pot
  stocks@fthuin/files/stocks@fthuin/po/zh_CN.po
  stocks@fthuin/files/stocks@fthuin/settings-schema.json
  stocks@fthuin/files/stocks@fthuin/stocks.list
  stocks@fthuin/files/stocks@fthuin/stylesheet.css
  stocks@fthuin/icon.png
  stocks@fthuin/info.json
  stocks@fthuin/screenshot.png
Owners: @fthuin

devtools: fix clutter text warning in .xsession-errors
  devTools@scollins/files/devTools@scollins/tab.js
Owners: none

show more quote data, add more presentation settings
  yfquotes@thegli/README.md
  yfquotes@thegli/files/yfquotes@thegli/desklet.js
  yfquotes@thegli/files/yfquotes@thegli/metadata.json
  yfquotes@thegli/files/yfquotes@thegli/settings-schema.json
  yfquotes@thegli/files/yfquotes@thegli/stylesheet.css
  yfquotes@thegli/screenshot.png
Owners: none

Added cpuload@kimse spice
  cpuload@kimse/README.md
  cpuload@kimse/files/cpuload@kimse/desklet.js
  cpuload@kimse/files/cpuload@kimse/icon.png
  cpuload@kimse/files/cpuload@kimse/metadata.json
  cpuload@kimse/icon.png
  cpuload@kimse/info.json
  cpuload@kimse/screenshot.png
Owners: none

code quality improvements
  cpuload@kimse/files/cpuload@kimse/desklet.js
Owners: none

Changed strings to doublequote
  cpuload@kimse/files/cpuload@kimse/desklet.js
Owners: none

Methods shorthanded
  cpuload@kimse/files/cpuload@kimse/desklet.js
Owners: none

Added missing semicolons
  cpuload@kimse/files/cpuload@kimse/desklet.js
Owners: none

More semicolon fixes
  cpuload@kimse/files/cpuload@kimse/desklet.js
Owners: none

Quality fixes
  cpuload@kimse/files/cpuload@kimse/desklet.js
Owners: none

Refactored cpu usage drawing code
  cpuload@kimse/files/cpuload@kimse/desklet.js
Owners: none

added missing semicolon
  cpuload@kimse/files/cpuload@kimse/desklet.js
Owners: none

quality fixes
  cpuload@kimse/files/cpuload@kimse/desklet.js
Owners: none

added global var comment
  cpuload@kimse/files/cpuload@kimse/desklet.js
Owners: none

Added desklet scaling and decoration configuration options
  cpuload@kimse/files/cpuload@kimse/desklet.js
  cpuload@kimse/files/cpuload@kimse/settings-schema.json
Owners: none

Bumped version number
  cpuload@kimse/files/cpuload@kimse/metadata.json
Owners: none

Added CPU usage column stacking configuration option
  cpuload@kimse/files/cpuload@kimse/desklet.js
  cpuload@kimse/files/cpuload@kimse/settings-schema.json
Owners: none

Updated the readme
  cpuload@kimse/README.md
Owners: none

Fixed code formatting
  cpuload@kimse/files/cpuload@kimse/desklet.js
Owners: none

Changed number of allowed instances to 1
  cpuload@kimse/files/cpuload@kimse/metadata.json
Owners: none

yfquotes@thegli: show more quote data, add more presentation settings (#307)
  yfquotes@thegli/README.md
  yfquotes@thegli/files/yfquotes@thegli/desklet.js
  yfquotes@thegli/files/yfquotes@thegli/metadata.json
  yfquotes@thegli/files/yfquotes@thegli/settings-schema.json
  yfquotes@thegli/files/yfquotes@thegli/stylesheet.css
  yfquotes@thegli/screenshot.png
Owners: none

Added cpuload@kimse spice (#309)
  cpuload@kimse/README.md
  cpuload@kimse/files/cpuload@kimse/desklet.js
  cpuload@kimse/files/cpuload@kimse/icon.png
  cpuload@kimse/files/cpuload@kimse/metadata.json
  cpuload@kimse/files/cpuload@kimse/settings-schema.json
  cpuload@kimse/icon.png
  cpuload@kimse/info.json
  cpuload@kimse/screenshot.png
Owners: none

cpuload@kimse: Change author to github username
  cpuload@kimse/info.json
Owners: none

cpuload@kimse: Change author to github username (#310)
  cpuload@kimse/info.json
Owners: none

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

analog-clock@cobinja.de/*                          @cobinja
battery@schorschii/*                               @schorschii
bbcwx@oak-wood.co.uk/*                             @tipichris
calculator@scollins/*                              @collinss
calendar@schorschii/*                              @schorschii
clock@schorschii/*                                 @schorschii
devTools@scollins/*                                @collinss
ganjine@mohammad-sn/*                              @mohammad-sn
googleCalendar@javahelps.com/*                     @slgobinath
lemondenewspaper@fthuin/*                          @fthuin
quoteOfTheDay@tinnu/*                              @JessW
simple-system-monitor@ariel/*                      @arielandrade
soundBox@scollins/*                                @collinss
stocks@fthuin/*                                    @fthuin
temperature@swalladge/*                            @swalladge
xkcd@rjanja/*                                      @rjanja

# The following xlets have no author assigned to them.
# TimeAndDate@nightflame
# WeatherUnderground@nightflame
# binaryclock2@euxneks
# binaryclockdesklet@entelechy
# citationsfr@mrvaykadji
# clockTow@armandobs14
# commandOfTheDay@logg
# jalalidesklet@30yavash.com
# netusage@30yavash.com
# powerUsage@hosvir.com
# reddit-reader@orangeshark
# shutdown@phpdreamer
