Repository linuxmint/cinnamon-spices-desklets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @claudiux, @stefan12O, @ozymandiaslone, @lxs242, @f-istvan, @KopfdesDaemons, @cobinja, @schorschii, @tipichris, @ptandler, @bahrampc, @kanchudeep, @tirtharajsinha, @ZimiZones, @pbojan, @AlexMakesSoftware, @KopfDesDaemons, @BrainAxe, @collinss, @rcalixte, @thegergo02, @mohammad-sn, @slgobinath, @jtoberling, @codeunifier, @JoeJoeTV, @sujitagarwal, @torchipeppo, @pdcurtis, @OnlineLearningTutorials, @mkessas, @NotSirius-A, @JessW, @nejdetckenobi, @arielandrade, @kawashiro, @rcassani, @swalladge, @ryannerd, @MuxBH28, @SarangShelke2304, @rjanja, @thegli

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

AlbumArt3.0@claudiux/*                             @claudiux
InternetTimeDesklet@stefan/*                       @stefan12O
NumericBinaryClock@ozymandiaslone/*                @ozymandiaslone
SevenSegmentClock@lxs242/*                         @lxs242
ViennaTextBasedWeather@f-istvan/*                  @f-istvan
adventCandles@KopfdesDaemons/*                     @KopfdesDaemons
analog-clock@cobinja.de/*                          @cobinja
battery@schorschii/*                               @schorschii
bbcwx@oak-wood.co.uk/*                             @tipichris
calc@ptandler/*                                    @ptandler
calculator@scollins/*                              @schorschii
calendar@bahrampc/*                                @bahrampc
calendar@deeppradhan/*                             @kanchudeep
calendar@schorschii/*                              @schorschii
clock@schorschii/*                                 @schorschii
clocket@tirtha/*                                   @tirtharajsinha
commandResult@ZimiZones/*                          @ZimiZones
cpuload@kimse/*                                    @schorschii
cryptocoins@pbojan/*                               @pbojan
daily-agenda@alexmakessoftware/*                   @AlexMakesSoftware
daysCountdown@KopfDesDaemons/*                     @KopfDesDaemons
deskNote@BrainAxe/*                                @BrainAxe
devTools@scollins/*                                @collinss
diskspace@schorschii/*                             @schorschii
dual-datetime@rcalixte/*                           @rcalixte
eKreta@thegergo02/*                                @thegergo02
ganjine@mohammad-sn/*                              @mohammad-sn
googleCalendar@javahelps.com/*                     @slgobinath
growattmonitor@jtoberling/*                        @jtoberling
hostcheck@schorschii/*                             @schorschii
jira@codeunifier/*                                 @codeunifier
kdecdesklet@joejoetv/*                             @JoeJoeTV
mintoo@sujitagarwal/*                              @sujitagarwal
moonlight-clock@torchipeppo/*                      @torchipeppo
nepalipatro@deeppradhan/*                          @kanchudeep
netusage@30yavash.com/*                            @pdcurtis
notes@schorschii/*                                 @schorschii
panchang@india/*                                   @OnlineLearningTutorials
prayertimes@linworx.org/*                          @mkessas
quicklinks@NotSirius-A/*                           @NotSirius-A
quoteOfTheDay@tinnu/*                              @JessW
show-remote-ip-desklet@nejdetckenobi/*             @nejdetckenobi
simple-system-monitor@ariel/*                      @arielandrade
soundBox@scollins/*                                @kawashiro
system-monitor-graph@rcassani/*                    @rcassani
systemTemperature@KopfDesDaemons/*                 @KopfDesDaemons
systemUptime@KopfDesDaemons/*                      @KopfDesDaemons
temperature@india/*                                @OnlineLearningTutorials
temperature@swalladge/*                            @swalladge
timelet@linuxedo.com/*                             @slgobinath
top@ryannerd/*                                     @ryannerd
vaktija-desklet@MuxBH28/*                          @MuxBH28
wifi@SarangShelke2304/*                            @SarangShelke2304
xkcd@rjanja/*                                      @rjanja
yarr@jtoberling/*                                  @jtoberling
yfquotes@thegli/*                                  @thegli

# The following xlets have no author assigned to them.
# TimeAndDate@nightflame
# binaryclock2@euxneks
# clockTow@armandobs14
# commandOfTheDay@logg
# jalalidesklet@30yavash.com
# reddit-reader@orangeshark
# shutdown@phpdreamer

daily-agenda@alexmakessoftware: Rewrite library components and bug fix (#1513)
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/desklet.js
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/helpers/ics-helper.js
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/tests/test-ics-helper.js
Owners: none

Tidy images and add _() function for international units.
  system-monitor-graph@rcassani/Network Desktlet.jpg
  system-monitor-graph@rcassani/Network Desktlet.png
  system-monitor-graph@rcassani/Screenshot 2025-06-27 175205.png
  system-monitor-graph@rcassani/Screenshot3.png
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/desklet.js
Owners: @rcassani

Add Spanish translation
  todo@NotSirius-A/files/todo@NotSirius-A/po/es.po
Owners: none

todo@NotSirius-A: Add Spanish translation (#1514)
  todo@NotSirius-A/files/todo@NotSirius-A/po/es.po
Owners: none

yfquotes@thegli: fix quote styling when symbol was not capitalized
  yfquotes@thegli/CHANGELOG.md
  yfquotes@thegli/files/yfquotes@thegli/desklet.js
  yfquotes@thegli/files/yfquotes@thegli/metadata.json
  yfquotes@thegli/files/yfquotes@thegli/settings-schema.json
Owners: @thegli

yfquotes@thegli: Fix quote styling when symbol was not capitalized (#1515)
  yfquotes@thegli/CHANGELOG.md
  yfquotes@thegli/files/yfquotes@thegli/desklet.js
  yfquotes@thegli/files/yfquotes@thegli/metadata.json
  yfquotes@thegli/files/yfquotes@thegli/settings-schema.json
Owners: @thegli

Add fix for proper repeating event overrides
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/helpers/ics-helper.js
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/tests/test-ics-helper.js
Owners: none

daily-agenda@alexmakessoftware: Improve support for recurring events (#1516)
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/helpers/ics-helper.js
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/tests/test-ics-helper.js
Owners: none

Add Comprehensive Network Monitoring Support
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/desklet.js
Owners: none

Add screenshot 3 to readme, add network to system variables and update version and date.
  system-monitor-graph@rcassani/README.md
Owners: @rcassani

Update version numbers to 2.0 on Readme and metadata.json
  system-monitor-graph@rcassani/README.md
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/metadata.json
Owners: @rcassani

update translations
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/ca.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/da.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/de.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/es.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/fi.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/hu.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/it.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/nl.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/pt_BR.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/ro.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/ru.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/system-monitor-graph@rcassani.pot
Owners: none

system-monitor-graph@rcassani: Add Network Monitoring Support (#1511)
  system-monitor-graph@rcassani/Network Desktlet.png
  system-monitor-graph@rcassani/README.md
  system-monitor-graph@rcassani/Screenshot3.png
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/desklet.js
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/metadata.json
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/ca.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/da.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/de.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/es.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/fi.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/hu.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/it.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/nl.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/pt_BR.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/ro.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/ru.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/system-monitor-graph@rcassani.pot
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/settings-schema.json
Owners: @rcassani

Fix link to screenshot in README.md
  system-monitor-graph@rcassani/screenshot3.png
Owners: @rcassani

system-monitor-graph@rcassani: Move screenshot file to fix path resolution (#1519)
  system-monitor-graph@rcassani/screenshot3.png
Owners: @rcassani

update es.po
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/es.po
Owners: none

system-monitor-graph@rcassani: Update es.po (#1520)
  system-monitor-graph@rcassani/files/system-monitor-graph@rcassani/po/es.po
Owners: none

Add options to hide diagnostic line and refresh button
  daily-agenda@alexmakessoftware/README.md
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/desklet.js
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/helpers/ics-helper.js
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/po/daily-agenda@alexmakessoftware.pot
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/po/es.po
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/po/hu.po
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/po/nl.po
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/settings-schema.json
Owners: @AlexMakesSoftware

daily-agenda@alexmakessoftware: Add options to hide diagnostic line and refresh button (#1521)
  daily-agenda@alexmakessoftware/README.md
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/desklet.js
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/helpers/ics-helper.js
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/po/daily-agenda@alexmakessoftware.pot
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/po/es.po
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/po/hu.po
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/po/nl.po
  daily-agenda@alexmakessoftware/files/daily-agenda@alexmakessoftware/settings-schema.json
Owners: @AlexMakesSoftware

Add missing translation templates
  prayertimes@linworx.org/files/prayertimes@linworx.org/po/prayertimes@linworx.org.pot
  wifi@SarangShelke2304/files/wifi@SarangShelke2304/po/wifi@SarangShelke2304.pot
Owners: none

Add missing translation templates (#1522)
  prayertimes@linworx.org/files/prayertimes@linworx.org/po/prayertimes@linworx.org.pot
  wifi@SarangShelke2304/files/wifi@SarangShelke2304/po/wifi@SarangShelke2304.pot
Owners: none

Update desklet.js
  yfquotes@thegli/files/yfquotes@thegli/desklet.js
Owners: none

Add files via upload
  serverstatus@maksmokriev/README.md
  serverstatus@maksmokriev/files/serverstatus@maksmokriev/desklet.js
  serverstatus@maksmokriev/files/serverstatus@maksmokriev/icon.png
  serverstatus@maksmokriev/files/serverstatus@maksmokriev/metadata.json
  serverstatus@maksmokriev/files/serverstatus@maksmokriev/po/en.po
  serverstatus@maksmokriev/files/serverstatus@maksmokriev/po/serverstatus@maksmokriev.pot
  serverstatus@maksmokriev/files/serverstatus@maksmokriev/po/uk.mo
  serverstatus@maksmokriev/files/serverstatus@maksmokriev/po/uk.po
  serverstatus@maksmokriev/files/serverstatus@maksmokriev/settings-schema.json
  serverstatus@maksmokriev/files/serverstatus@maksmokriev/stylesheet.css
  serverstatus@maksmokriev/info.json
  serverstatus@maksmokriev/screenshot.png
Owners: none
