Repository linuxmint/cinnamon-spices-desklets, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cobinja, @schorschii, @tipichris, @collinss, @mohammad-sn, @slgobinath, @fthuin, @JessW, @arielandrade, @swalladge, @rjanja

simple-system-monitor@ariel - Update for Cinnamon 4.2
  simple-system-monitor@ariel/files/simple-system-monitor@ariel/metadata.json
Owners: none

ViennaTextBasedWeather@f-istvan, fix #444
  ViennaTextBasedWeather@f-istvan/README.md
  ViennaTextBasedWeather@f-istvan/files/ViennaTextBasedWeather@f-istvan/desklet.js
  ViennaTextBasedWeather@f-istvan/files/ViennaTextBasedWeather@f-istvan/settings-schema.json
Owners: none

Add privacy policy to meet Google's requirement
  googleCalendar@javahelps.com/README.md
  googleCalendar@javahelps.com/privacy_policy.md
  googleCalendar@javahelps.com/screenshot.png
Owners: @slgobinath

Remove gulp/npm files
  gulpfile.js
  package-lock.json
  package.json
Owners: none

Add total usage switch and refresh interval
  cpuload@kimse/files/cpuload@kimse/desklet.js
  cpuload@kimse/files/cpuload@kimse/settings-schema.json
Owners: none

Follow coding standard
  cpuload@kimse/files/cpuload@kimse/desklet.js
Owners: none

Added Italian translation
  analog-clock@cobinja.de/files/analog-clock@cobinja.de/po/it.po
Owners: none

Added Italian translation
  battery@schorschii/files/battery@schorschii/po/it.po
Owners: none

Updated Italian translation
  bbcwx@oak-wood.co.uk/files/bbcwx@oak-wood.co.uk/po/it.po
Owners: none

Added Italian translation
  binaryclock2@euxneks/files/binaryclock2@euxneks/po/it.po
Owners: none

cpuload@kimse: Add total CPU usage switch and refresh interval
  cpuload@kimse/files/cpuload@kimse/desklet.js
  cpuload@kimse/files/cpuload@kimse/settings-schema.json
Owners: none

Added Italian translation
  calendar@deeppradhan/files/calendar@deeppradhan/po/it.po
Owners: none

Added Italian translation
  calendar@schorschii/files/calendar@schorschii/po/it.po
Owners: none

Added Italian translation
  simple-system-monitor@ariel/files/simple-system-monitor@ariel/po/it.po
Owners: none

Added Italian translation
  temperature@swalladge/files/temperature@swalladge/po/it.po
Owners: none

Added Italian translation
  TimeAndDate@nightflame/files/TimeAndDate@nightflame/po/it.po
Owners: none

Added Italian translation
  xkcd@rjanja/files/xkcd@rjanja/po/it.po
Owners: none

Added Italian translation
  soundBox@scollins/files/soundBox@scollins/po/it.po
Owners: none

Added Italian translation
  commandOfTheDay@logg/files/commandOfTheDay@logg/po/it.po
Owners: none

Added Italian translation
  clock@schorschii/files/clock@schorschii/po/it.po
Owners: none

Added Italian translation
  clockTow@armandobs14/files/clockTow@armandobs14/po/it.po
Owners: none

Added Italian translation
  deskNote@BrainAxe/files/deskNote@BrainAxe/po/it.po
Owners: none

Fix brace error
  cpuload@kimse/files/cpuload@kimse/desklet.js
Owners: none

Added/updated Italian translation.
  calculator@scollins/files/calculator@scollins/po/it.mo
  calculator@scollins/files/calculator@scollins/po/it.po
  devTools@scollins/files/devTools@scollins/po/it.mo
  devTools@scollins/files/devTools@scollins/po/it.po
  diskspace@schorschii/files/diskspace@schorschii/po/it.mo
  diskspace@schorschii/files/diskspace@schorschii/po/it.po
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/po/it.mo
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/po/it.po
  jalalidesklet@30yavash.com/files/jalalidesklet@30yavash.com/po/it.mo
  jalalidesklet@30yavash.com/files/jalalidesklet@30yavash.com/po/it.po
  lemondenewspaper@fthuin/files/lemondenewspaper@fthuin/po/it.mo
  lemondenewspaper@fthuin/files/lemondenewspaper@fthuin/po/it.po
  nepalipatro@deeppradhan/files/nepalipatro@deeppradhan/po/it.mo
  nepalipatro@deeppradhan/files/nepalipatro@deeppradhan/po/it.po
  netusage@30yavash.com/files/netusage@30yavash.com/po/it.mo
  netusage@30yavash.com/files/netusage@30yavash.com/po/it.po
  notes@schorschii/files/notes@schorschii/po/it.mo
  notes@schorschii/files/notes@schorschii/po/it.po
  powerUsage@hosvir.com/files/powerUsage@hosvir.com/po/it.mo
  powerUsage@hosvir.com/files/powerUsage@hosvir.com/po/it.po
  quoteOfTheDay@tinnu/files/quoteOfTheDay@tinnu/po/it.mo
  quoteOfTheDay@tinnu/files/quoteOfTheDay@tinnu/po/it.po
  reddit-reader@orangeshark/files/reddit-reader@orangeshark/po/it.mo
  reddit-reader@orangeshark/files/reddit-reader@orangeshark/po/it.po
  shutdown@phpdreamer/files/shutdown@phpdreamer/po/it.mo
  shutdown@phpdreamer/files/shutdown@phpdreamer/po/it.po
Owners: none

Removed .mo files
  calculator@scollins/files/calculator@scollins/po/it.mo
  devTools@scollins/files/devTools@scollins/po/it.mo
  diskspace@schorschii/files/diskspace@schorschii/po/it.mo
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/po/it.mo
  jalalidesklet@30yavash.com/files/jalalidesklet@30yavash.com/po/it.mo
  lemondenewspaper@fthuin/files/lemondenewspaper@fthuin/po/it.mo
  nepalipatro@deeppradhan/files/nepalipatro@deeppradhan/po/it.mo
  netusage@30yavash.com/files/netusage@30yavash.com/po/it.mo
  notes@schorschii/files/notes@schorschii/po/it.mo
  powerUsage@hosvir.com/files/powerUsage@hosvir.com/po/it.mo
  quoteOfTheDay@tinnu/files/quoteOfTheDay@tinnu/po/it.mo
  reddit-reader@orangeshark/files/reddit-reader@orangeshark/po/it.mo
  shutdown@phpdreamer/files/shutdown@phpdreamer/po/it.mo
Owners: none

clock@schorschii: add sv.po
  clock@schorschii/files/clock@schorschii/po/sv.po
Owners: none

calculator@scollins: add sv.po
  calculator@scollins/files/calculator@scollins/po/sv.po
Owners: none

deskNote@BrainAxe: add sv.po
  deskNote@BrainAxe/files/deskNote@BrainAxe/po/sv.po
Owners: none

Updated xdate.js: avoid error messages in ~/.xsession-errors
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/lib/xdate.js
Owners: none

desklet.js: replace INOUT by BIDIRECTIONAL
  diskspace@schorschii/files/diskspace@schorschii/desklet.js
Owners: none

Fix Google Calendard showing events one day late
  googleCalendar@javahelps.com/files/googleCalendar@javahelps.com/lib/xdate.js
Owners: none

add hostcheck@schorschii
  hostcheck@schorschii/README.md
  hostcheck@schorschii/files/hostcheck@schorschii/desklet.js
  hostcheck@schorschii/files/hostcheck@schorschii/icon.png
  hostcheck@schorschii/files/hostcheck@schorschii/icon.svg
  hostcheck@schorschii/files/hostcheck@schorschii/metadata.json
  hostcheck@schorschii/files/hostcheck@schorschii/po/de.po
  hostcheck@schorschii/files/hostcheck@schorschii/po/diskspace@schorschii.pot
  hostcheck@schorschii/files/hostcheck@schorschii/settings-schema.json
  hostcheck@schorschii/files/hostcheck@schorschii/stylesheet.css
  hostcheck@schorschii/icon.png
  hostcheck@schorschii/info.json
  hostcheck@schorschii/screenshot.png
Owners: none

battery@schorschii code optimizations
  battery@schorschii/files/battery@schorschii/desklet.js
  battery@schorschii/files/battery@schorschii/metadata.json
Owners: none

calendar@schorschii code optimizations
  calendar@schorschii/files/calendar@schorschii/desklet.js
  calendar@schorschii/files/calendar@schorschii/metadata.json
Owners: none

clock@schorschii code optimizations
  clock@schorschii/files/clock@schorschii/desklet.js
  clock@schorschii/files/clock@schorschii/metadata.json
Owners: none

diskspace@schorschii code optimizations
  diskspace@schorschii/files/diskspace@schorschii/desklet.js
  diskspace@schorschii/files/diskspace@schorschii/metadata.json
  diskspace@schorschii/files/diskspace@schorschii/settings-schema.json
  diskspace@schorschii/files/diskspace@schorschii/stylesheet.css
Owners: none

notes@schorschii code optimizations
  notes@schorschii/files/notes@schorschii/desklet.js
  notes@schorschii/files/notes@schorschii/img/index.csv
  notes@schorschii/files/notes@schorschii/metadata.json
Owners: none

battery@schorschii use decodeURIComponent()
  battery@schorschii/files/battery@schorschii/desklet.js
Owners: none

clock@schorschii use decodeURIComponent() to support paths with spaces
  clock@schorschii/README.md
  clock@schorschii/files/clock@schorschii/desklet.js
Owners: @schorschii

battery@schorschii fix icon flickering
  battery@schorschii/files/battery@schorschii/desklet.js
Owners: none

.github/CODEOWNERS:

# Do not edit this file manually.
# Execute the script called codeowners_creator.py to generate it.

analog-clock@cobinja.de/*                          @cobinja
battery@schorschii/*                               @schorschii
bbcwx@oak-wood.co.uk/*                             @tipichris
calculator@scollins/*                              @collinss
calendar@schorschii/*                              @schorschii
clock@schorschii/*                                 @schorschii
devTools@scollins/*                                @collinss
ganjine@mohammad-sn/*                              @mohammad-sn
googleCalendar@javahelps.com/*                     @slgobinath
lemondenewspaper@fthuin/*                          @fthuin
quoteOfTheDay@tinnu/*                              @JessW
simple-system-monitor@ariel/*                      @arielandrade
soundBox@scollins/*                                @collinss
stocks@fthuin/*                                    @fthuin
temperature@swalladge/*                            @swalladge
xkcd@rjanja/*                                      @rjanja

# The following xlets have no author assigned to them.
# TimeAndDate@nightflame
# WeatherUnderground@nightflame
# binaryclock2@euxneks
# binaryclockdesklet@entelechy
# citationsfr@mrvaykadji
# clockTow@armandobs14
# commandOfTheDay@logg
# jalalidesklet@30yavash.com
# netusage@30yavash.com
# powerUsage@hosvir.com
# reddit-reader@orangeshark
# shutdown@phpdreamer
